$def_transition: all 0.3s;
$def_aside_background_color: rgba(231, 243, 245, 0.808);
$def_color: #5f5f5f;
$def_hover_color: #4b4b4b;
$def_hover_background_color: #bbbbbb;
$def_border: 1px solid #cccccc6c;